<%= link_to "Назад", client_reminders_path(@client, :history_action => "reminders"), :class => "iframe-link" %>
<%= form_for [@client, @reminder], :html => {:class => "form-horizontal"} do |c| %>
  <div class="pull-left">
  <div class="control-group">
    <%= c.label "Описание:", :class => "control-label", :for => "inputName" %>
    <div class="controls">
      <%= c.text_area :description, :rows => 7, :id => "inputName" %>
    </div>
  </div>

  <div class="control-group">
    <%= c.label "Время напоминания:", :class => "control-label", :for => "inputScheduledTime" %>
    <div class="controls">
      <%= c.text_field :scheduled_time, :id => "inputScheduledTime", :value => scheduled_time_value %>
    </div>
  </div>
</div>
<%= hidden_field_tag "reminder[showed]", false %>
<div class="control-group unfloated">
  <div class="controls">
    <%= c.submit :class => "btn btn-primary btn-large"%>
  </div>
</div>
<% end %>
