<tr class="table-block">
  <td><strong> <%= link_to client.name, client_path(client) %></strong></td>
  <td> <%= client.short_contacts %> </td>
  <td> <%= client.state %> </td>
  <td> <%= client.address %> </td>
  <td> <%= client.activity %> </td>
  <td> <%= client.created_at.strftime("%m/%d/%Y %H:%M:%S")%> </td>
</tr>
