<tr class="table-block">
  <td style="font-size: 15px;"> <%= link_to client.name, "#", :attr => client.id, :class => "iframe-link" %></td>
  <td> <%= client.short_contacts %> </td>
  <td> <%= client.state %> </td>
  <td> <%= client.address %> </td>
  <td> <%= client.activity %> </td>
  <td> <%= client.created_at.strftime("%m/%d %H:%M") %></td>
</tr>
