<%= form_for @client, :html => {:class => "form-horizontal"}  do |c| %>
  <div class="control-group">
  <%= c.label "Name:", :class => "control-label", :for => "inputName" %>
  <div class="controls">
    <%= c.text_field :name, :id => "inputName" %>
  </div>
</div>
<div class="control-group">
  <%= c.label "Description:", :class => "control-label", :for => "inputDescription" %>
  <div class="controls">
    <%= c.text_area :description, :rows => 5, :id => "inputDescription" %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <%= c.submit :class => "btn btn-primary"%>
  </div>
</div>
<% end %>
