<tr>
  <td><%= contact.name %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.cellphone %></td>
  <td><%= contact.email %></td>
  <td><%= contact.icq %></td>
  <td><%= contact.skype %></td>
  <td><%= link_to "Редактировать", edit_client_contact_path(@client, contact) %></td>
</tr>
