<!DOCTYPE html>
<html>
<head>
  <title>Clients</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <%= link_to current_group_name, root_path, :class => "brand"  %>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li class="divider-vertical"></li>
          <% if params[:controller] == "clients" && params[:action] != "new" %>
            <li class="dropdown clients">
          <% else %>
            <li class="dropdown">
          <% end %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Категории<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% unless current_group == "client" %>
              <li><%= link_to "Клиенты (#{Client.by_group("client").count})", change_group_clients_path(:group => "client") %></li>
          <% end %>
            <% unless current_group == "provider" %>
              <li><%= link_to "Поставщики (#{Client.by_group("provider").count})", change_group_clients_path(:group => "provider") %></li>
          <% end %>
            <% unless current_group == "partner" %>
              <li><%= link_to "Партнеры (#{Client.by_group("partner").count})", change_group_clients_path(:group => "partner") %></li>
          <% end %>
            <% unless current_group == "potential" %>
              <li><%= link_to "Потенциальные (#{Client.by_group("potential").count})", change_group_clients_path(:group => "potential") %></li>
          <% end %>
          </ul>
        </li>
        <li class="activities"> <%= link_to "Настройки", settings_path %></li>
        <% if params[:controller] == "clients" && %w(index create search).include?(params[:action]) %>
          <li> <a href="#search_client" role="button" class="ajax-link" data-toggle="modal">Поиск</a> </li>
          <li><%= link_to "Создать", new_client_path(@client) %></li>
        <% elsif params[:controller] == "clients" && params[:action] == "new" %>
          <li class="clients"><%= link_to "Создать", new_client_path(@client) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<%= hidden_field "", "", :value => params["controller"], :class => "controller" %>
<% if flash[:notice] %>
  <div class="alert alert-warning warning-flash">
  <a class="close" href="#">&times;</a>
  <%= flash[:notice] %>
<% end %>
</div>
<div style="position:relative; top: 20px;">
  <%= yield %>
</div>

</body>
</html>
