<!DOCTYPE html>
<html>
<head>
  <title>Clients</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li class='main-menu-item'><%= link_to current_group_name, root_path %></li>
        <li class="divider-vertical"></li>
          <% if params[:controller] == "clients" && params[:action] != "new" %>
            <li class="dropdown clients">
          <% else %>
            <li class="dropdown">
          <% end %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Категории<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% unless current_group == "client" %>
              <li><%= link_to "Клиенты (#{Client.by_group("client").count})", change_group_clients_path(:group => "client") %></li>
          <% end %>
            <% unless current_group == "provider" %>
              <li><%= link_to "Поставщики (#{Client.by_group("provider").count})", change_group_clients_path(:group => "provider") %></li>
          <% end %>
            <% unless current_group == "partner" %>
              <li><%= link_to "Партнеры (#{Client.by_group("partner").count})", change_group_clients_path(:group => "partner") %></li>
          <% end %>
            <% unless current_group == "potential" %>
              <li><%= link_to "Потенциальные (#{Client.by_group("potential").count})", change_group_clients_path(:group => "potential") %></li>
          <% end %>
          </ul>
        </li>
        <li class="activities <%= history_active("activities") %>"> <%= link_to "Настройки", activities_path %></li>
        <li class="reminders <%= history_active("all_reminders") %> "> <%= link_to "Напоминания", all_reminders_path %></li>
        <% if params[:controller] == "clients" && %w(index create search).include?(params[:action]) %>
          <li> <a href="#" role="button" id="toggle-search" class="ajax-link" data-toggle="modal">Поиск</a> </li>
          <li> <a href="#" role="button" id="toggle-create" class="ajax-link" data-toggle="modal">Создать</a> </li>
        <% elsif params[:controller] == "clients" && params[:action] == "new" %>
          <li class="clients"><%= link_to "Создать", new_client_path(@client) %></li>
        <% end %>
        <li>
        <%= form_for search_clients_path, :url => { :controller => "clients", :action => "search" },  :method => "post", :html => {:class => "global-search"} do |f| %>
            <%= text_field_tag :name %>
            <%= hidden_field "", :by_all, :value => true %>
            <% end %>
        </li>
        <li>
          <span class="label label-important reminder" title="Прошедшие">
            <div id="past-count" class="reminder-count"><%= past_reminders_count %></div>
          </span>
          <span class="label label-info reminder reminder-pull-left" title='Сегодня'>
            <div id="today-count" class="reminder-count"><%= today_reminders_count %></div>
          </span>
          <% if params[:controller] == "all_reminders" && params[:action] == "index" %>
            <span class="label label-warning reminder" title="На завтра">
            <div id="tomorrow-count" class="reminder-count"><%= @tomorrow_reminders.count %></div>
          </span>
          <span class="label label-success reminder reminder-pull-left" title='Все невыполненные'>
            <div id="future-count" class="reminder-count"><%= @future_reminders.count %></div>
          </span>
          <% end %>
        </li>
      </ul>

    </div>
  </div>


</div>

<%= hidden_field "", "", :value => params["controller"], :class => "controller" %>
<% if flash[:notice] %>
  <div class="alert alert-warning warning-flash">
  <a class="close" href="#">&times;</a>
  <%= flash[:notice] %>
<% end %>
</div>
<%= yield %>

</body>
</html>
