<!DOCTYPE html>
<html>
<head>
<title>Clients</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= favicon_link_tag "notepad.ico" %>
</head>
<body>
<div class="navbar navbar-fixed-top frame-bar history-block">
  <div class="navbar-inner">
    <div class="nav-collapse collapse">
      <div class="toggle">
      </div>
      <ul class="nav">
        <li> <%= link_to image_tag("close.png"), "#", :id => "close-frame", :style => "width:18px;" %> </li>
        <li><%= link_to "Контакты", client_path(@client), :class => "iframe-link" %></li>
        <li class="activities"> <%= link_to "История", client_stories_path(@client), :class => "iframe-link" %></li>
        <li><%= link_to client_description, edit_client_path(@client), :class => "iframe-link frame-client" %></li>
      </ul>
    </div>
  </div>
</div>

<div style="position:relative; top: 50px;">
  <%= yield %>
</div>

</body>
</html>
